.searchmain{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.search{
    margin-top: 2rem;
    color: white;
    padding: 10px 20px;
}

.searchTitle{
    font-size: 2rem;
}

.searchbar{
    width: 100%;
    border: none;
    background: rgba(255, 255, 255, 0.200);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.500);
    padding: 5px 10px;
}

.searchbar:focus{
    border: none;
    outline: none;
}

.searched{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fetchedItem{
    width: 100%;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.fetchedspan{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    gap: 1rem;
    padding: 10px;
}

.fetchedImg{
    width: 100px;
    height: 80px;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

.fetchedTitle{
    font-size: 1rem;
}

.fetcheddivider{
    width: 100%;
    height: 1px;
    background: white;
    color: white;
}