:root{
  --bg:#121212;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

a{
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: black;
  position: relative;
  margin-bottom: 3rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.infopagemain {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.infopageoptions {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.infopageoptions span {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infopageoptions span a {
  cursor: pointer;
  z-index: 2;
}

.infopageoptions span .a {
  cursor: pointer;
  z-index: 2;
}

.infopageoptions span .icons {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: rgba(41, 41, 41, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copiedpopup{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
  height: 40px;
  color: white;
  background: red;
  z-index: 2;
  display: flex;
  font-weight: 600;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infopageposter {
  width: 100%;
  height: 600px;
  position: fixed;
  top: 0;
}

.infopageposter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.infopageinfo {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 200vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.5) 40.47%,
    #000000 50.64%,
    #000000 100%
  );
  padding-bottom: 1rem;
}

.infopagecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 45%;
  position: absolute;
  gap: 0.5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 20%,
    #000000 80%,
    #000000 100%
  );
  padding-bottom: 2rem;
}

.infopagetitle {
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

.infopagegenre {
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.infopagegenre hr {
  height: 2px;
  margin: 0;
}


.infopageselectbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
  /* background: aqua; */
}

.infopagedwnldselect {
  display: flex;
  background: url("https://api.iconify.design/material-symbols:arrow-drop-down.svg")
    no-repeat right #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 700;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; 
  appearance: none;
  overflow-y: auto;
  color: black;
}

.infopagedwnldbtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.infopagedwnldbtn button {
  background: white;
  border: 0;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: black;
}

.infopageabout {
  padding: 0px 20px;
  color: white;
  background: black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  overflow: hidden;
}

.infopageabout p{
  transition: 1s ease-in-out;
}

.expanded {
  padding: 10px 20px;
  text-align: justify;
  color: white;
  background: black;
}

.showMoreButton {
  display: block;
  margin-top: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.infopageaquality {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  color: white;
  font-weight: bolder;
}

.infopageaquality p{
  border: 1px white solid;
  font-size: .7rem;
  padding: 2px;
}

@media screen and (min-width:1024px) {

  .infopageoptions span .icons{
    width: 50px;
    height: 50px;
  }

  .infopageposter{
    height: 600px;
  }

  .infopagetitle {
    font-size: 3rem;
  }

  .infopagecard {
    top: 40%;
  }

  .infopageabout{
    width: 70%;
  }

  .expanded{
    width: 70%;
  }

}

@media screen and (min-width:1440px) {
  .infopageposter{
    height: 650px;
  }

}


/*  */

.loading_main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.loading {
  width: 150px;
  height: 150px;
}

/*  */
.movieinfopagemain {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.movieinfopageoptions {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.movieinfopageoptions span {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.movieinfopageoptions span a {
  cursor: pointer;
  z-index: 2;
}

.movieinfopageoptions span .icons {
  width: 40px;
  height: 40px;
  padding: 10px;
  background: rgba(41, 41, 41, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieinfopageposter {
  width: 100%;
  height: 600px;
  position: fixed;
  top: 0;
}

.movieinfopageposter .mobileimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieinfopageposter .deskimg{
  display: none;
}



.movieinfopageinfo {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.5) 40.47%,
    #000000 60.64%,
    #000000 100%
  );
}

.movieinfopagecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 45%;
  position: absolute;
  gap: 0.5rem;
}

.movieinfopagetitle {
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

.movieinfopagegenre {
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.movieinfopagegenre hr {
  height: 2px;
  margin: 0;
}

.movieinfopageselectbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
}

.movieinfopagedwnldselect {
  background: url("https://api.iconify.design/material-symbols:arrow-drop-down.svg")
    no-repeat right #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 700;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  overflow-y: auto;
  color: black;
}

.movieinfopagedwnldbtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.movieinfopagedwnldbtn button {
  background: white;
  border: 0;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: black;
}

.movieinfopageabout {
  padding: 0px 20px;
  text-align: justify;
  color: white;
  background: black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movieinfopageabout p{
  transition: 1s ease-in-out;
}

.expanded {
  padding: 10px 20px;
  text-align: justify;
  color: white;
  background: black;
}

.showMoreButton {
  display: block;
  margin-top: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.movieinfopageaquality {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

@media screen and (min-width:1024px) {
  .movieinfopageposter .mobileimg {
    display: none;
  }
  
  .movieinfopageposter .deskimg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .movieinfopageoptions span .icons{
    width: 50px;
    height: 50px;
  }

  .movieinfopageposter{
    height: 600px;
  }

  .movieinfopagetitle {
    font-size: 3rem;
  }

  .movieinfopagecard {
    top: 40%;
  }
  
  .movieinfopageabout{
    width: 70%;
  }

  .expanded{
    width: 70%;
  }


  
}


/*  */
.loading_main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.loading {
  width: 150px;
  height: 150px;
}

/*  */

