/* Navbar */
.active {
  color: #e86f00;
}

.nav-main {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 60px;
  background: rgba(41, 41, 41, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.nav-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

/* .nav-links li{
  
} */

.nav-links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav-links svg {
  width: 30px;
  height: 30px;
  color: white;
}

.nav-links li a h6{
  font-size: .6rem;
}

@media screen and (min-width:1024px) {
  .nav-main {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 40%;
    height: 50px;
    border-radius: 20px;
  }
}

@media screen and (min-width:1440px) {
  .nav-main{
    width: 30%;
  }
}
/* Navbar End */
/* home main slider */

.homemainsliderswiper {
  width: 100%;
  height: 570px;
}



.homemainsliderswiperslide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homemainsliderswiperslide::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.homemainsliderswiperslide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.homemainsliderinfo {
  position: absolute;
  bottom: 5%;
  color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 0.5rem;
  text-align: center;
}
.homemainsliderinfo-name {
  text-align: center;
  font-size: 1.2rem;
}

.homemainsliderinfo span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homemainsliderinfo span h6{
  background: rgba(41, 41, 41, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 20px;
}


.homemainsliderswiper .swiper-pagination-bullet {
  opacity: 50%;
  background: white;
}
.homemainsliderswiper .swiper-pagination-bullet-active {
  opacity: 100%;
  background: white;
}
.homemainsliderinfo .about {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
}


@media screen and (min-width:1024px) {
  .homemainsliderswiper{
    height: 550px;
  }

  .homemainsliderswiperslide{
    justify-content: flex-start;
  }

  .homemainsliderinfo{
    bottom: 10%;
    align-items: flex-start;
  }
  .homemainsliderinfo-name {
    font-size: 2rem;
  }
  .homemainsliderinfo .about{
    width: 50%;
    text-align: left;
  }
}


@media screen and (min-width:1440px){
  .homemainsliderswiper{
    height: 600px;
  }
  .homemainsliderinfo-name {
    font-size: 2.5rem;
  }

  .homemainsliderinfo .about {
    font-size: 1.3rem;
    -webkit-line-clamp: 3;
  }
}
/* home main slider end */

/* home slider */
.homesliderswiper-sec {
  color: white;
  margin: 10px 0px 0px 10px;
  font-size: 1.5rem;
}

.homesliderswiper {
  width: 100%;
  height: 220px;
  padding: 10px;
  background: linear-gradient(
    180deg,
    #010101 0%,
    #090909 76.03%,
    #171717 91.39%,
    #1b1b1d 100%
  );
}

.homesliderswiperslide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.homesliderswiperslide img {
  width: 210px;
  border-radius: 15px;
  height: 130px;
  object-fit: cover;
  filter: brightness(80%);
  object-position: center center;
  position: relative;
  z-index: 3;
}



.homesliderswiperslide-info {
  color: white;
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}



.homesliderswiperslide-name{
  font-weight: 600;
  font-size: .8rem;
}

.homesliderswiperslide-datentime{
  font-size: .6rem;
}
/* home slider end */
