.singlePage-main {
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
}

.singlePage-options {
  position: absolute;
}

.singlePage-info {
  width: 100%;
  height: 100%;
  position: relative;
}
.singlePage-poster {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 3;
}

.singlePage-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.singlePage-card {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.5) 40.47%,
    #000000 50.64%,
    #000000 100%
  );
  position: relative;
}

.singlePage-details{
    position: absolute;
    top:45%;
}
